{%- capture cta_bg_img -%}
  {%- unless mb.cta_bg_img == blank -%}
      background:url({{mb.cta_bg_img | img_url:'master' }})top center / cover no-repeat;
  {%- endunless -%}
{%- endcapture -%}
{%- capture background_transp -%}
    {%- unless mb.show_transp == false -%}
    background-color: rgba({{mb.monster_transp | color_extract: 'red'}}, {{mb.monster_transp | color_extract: 'green'}}, {{mb.monster_transp | color_extract: 'blue'}}, {{mb.monster_avalue | append: '%'}});
    {%- endunless -%}
{%- endcapture -%}
{%- capture background_CTA_transp -%}
    {%- unless mb.show_CTA_transp == false -%}
    background-color: rgba({{mb.monster_CTA_transp | color_extract: 'red'}}, {{mb.monster_CTA_transp | color_extract: 'green'}}, {{mb.monster_CTA_transp | color_extract: 'blue'}}, {{mb.monster_CTA_avalue | append: '%'}});
    {%- endunless -%}
{%- endcapture -%}
{%- capture overlay -%}
	{%- unless mb.cta_text_position == 'bottom' -%}
		overlay
	{%- endunless -%}
{%- endcapture -%}
{%- capture section_padding -%}
  padding: {%- if mb.sec_padding != blank -%} {{ mb.sec_padding | append: "px" }} {%- else -%}0{%- endif -%} 0;
{%- endcapture -%}


{%- assign format = mb.cta_format -%}
{%- unless mb.show_CTA_transp == false -%}
  <style>
    .block-{{block.id}} .overlay{
      background-color:{{ mb.monster_CTA_transp }};
    }

    .block-{{block.id}} .overlay img{
      opacity: {{ mb.monster_CTA_avalue | append: '%' }};
    }
    
    .block-{{block.id}} .overlay .img-container{
      opacity: {{ mb.monster_CTA_avalue | append: '%' }};
    }
  </style>
{%- endunless -%}
{%- unless mb.cta_heading_size == blank -%}
  <style>
    .block-{{block.id}} .monster-cta h3{
      font-size: {{mb.cta_heading_size | append: 'px'}};
    }
  </style>
{%- endunless -%}
{%- unless mb.cta_heading_color == blank -%}
  <style>
    .block-{{block.id}} .monster-cta h3{
      color: {{mb.cta_heading_color}};
    }
  </style>
{%- endunless -%}
{%- unless mb.cta_subheading_size == blank -%}
  <style>
    .block-{{block.id}} .monster-cta p{
      font-size: {{mb.cta_subheading_size | append: 'px'}};
    }
  </style>
{%- endunless -%}
{%- unless mb.cta_subheading_color == blank -%}
  <style>
    .block-{{block.id}} .monster-cta p{
      color: {{mb.cta_subheading_color}};
    }
  </style>
{%- endunless -%}
<div style="{{ cta_bg_img }}" class="monster-block-item row__cta block-{{block.id}} {{mb.custom_class}}">
  <div style="{{ background_transp }} {{ section_padding }}" class="monster-hero-inner-wrap">
    <div class="{{container_width}}">
      <div class="row {% if mb.hide_gutters == true %} no-gutters {% endif %}">
        {%- case format -%}
          {%- when 'image' -%}
            {%- if mb.show_cta1 == true -%}
            <div class="col-12 col-md">
              <div class="monster-cta-wrap text-center">
                <a href="{{ mb.cta_1_link }}" class="monster-cta {{ overlay }}">
                  <img src="{{ mb.cta_1_img | img_url:'master' }}" alt=""/>
                  <div class="cta-text-content">
                    {%- unless mb.cta_1_heading == blank -%}
                      <h3>{{ mb.cta_1_heading }}</h3>
                    {%- endunless -%}
                    {%- unless mb.cta_1_subheading == blank -%}
                    <p>{{ mb.cta_1_subheading }}</p>
                    {%- endunless -%}
                  </div>
                </a>
                {%- unless mb.cta_1_btn == blank or mb.cta_text_position == 'overlay' -%}
                    <a href="{{ mb.cta_1_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_1_btn }}</a>
                {%- endunless -%}
              </div>
            </div>
            {%- endif -%}
            {%- if mb.show_cta2 == true -%}
            <div class="col-12 col-md">
              <div class="monster-cta-wrap text-center">
                <a href="{{ mb.cta_2_link }}" class="monster-cta {{ overlay }}">
                  <img src="{{ mb.cta_2_img | img_url:'master' }}" alt=""/>
                  <div class="cta-text-content">
                    {%- unless mb.cta_2_heading == blank -%}
                      <h3>{{ mb.cta_2_heading }}</h3>
                    {%- endunless -%}
                    {%- unless mb.cta_2_subheading == blank -%}
                    <p>{{ mb.cta_2_subheading }}</p>
                    {%- endunless -%}
                  </div>
                </a>
                {%- unless mb.cta_2_btn == blank or mb.cta_text_position == 'overlay' -%}
                    <a href="{{ mb.cta_2_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_2_btn }}</a>
                {%- endunless -%}
              </div>
            </div>
            {%- endif -%}
            {%- if mb.show_cta3 == true -%}
            <div class="col-12 col-md">
              <div class="monster-cta-wrap text-center">
                <a href="{{ mb.cta_3_link }}" class="monster-cta {{ overlay }}">
                  <img src="{{ mb.cta_3_img | img_url:'master' }}" alt=""/>
                  <div class="cta-text-content">
                    {%- unless mb.cta_3_heading == blank -%}
                      <h3>{{ mb.cta_3_heading }}</h3>
                    {%- endunless -%}
                    {%- unless mb.cta_3_subheading == blank -%}
                    <p>{{ mb.cta_3_subheading }}</p>
                    {%- endunless -%}
                  </div>
                </a>
                {%- unless mb.cta_3_btn == blank or mb.cta_text_position == 'overlay' -%}
                    <a href="{{ mb.cta_3_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_3_btn }}</a>
                {%- endunless -%}
              </div>
            </div>
            {%- endif -%}
            {%- if mb.show_cta4 == true -%}
            <div class="col-12 col-md">
              <div class="monster-cta-wrap text-center">
                <a href="{{ mb.cta_4_link }}" class="monster-cta {{ overlay }}">
                  <img src="{{ mb.cta_4_img | img_url:'master' }}" alt=""/>
                  <div class="cta-text-content">
                    {%- unless mb.cta_4_heading == blank -%}
                      <h3>{{ mb.cta_4_heading }}</h3>
                    {%- endunless -%}
                    {%- unless mb.cta_4_subheading == blank -%}
                    <p>{{ mb.cta_4_subheading }}</p>
                    {%- endunless -%}
                  </div>
                </a>
                {%- unless mb.cta_4_btn == blank or mb.cta_text_position == 'overlay' -%}
                    <a href="{{ mb.cta_4_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_4_btn }}</a>
                {%- endunless -%}
              </div>
            </div>
            {%- endif -%}
          {%- when 'background' -%}
             {%- if mb.show_cta1 == true -%}
                <div class="col-12 col-md">
                  <div class="monster-cta-wrap text-center">
                    <a href="{{ mb.cta_1_link }}" class="monster-cta {{ overlay }}">
                      <div style="background-image:url({{ mb.cta_1_img | img_url:'master' }}); height: {{ mb.cta_height | append: 'px' }}" class="img-container"></div>
                      <div class="cta-text-content">
                        {%- unless mb.cta_1_heading == blank -%}
                          <h3>{{ mb.cta_1_heading }}</h3>
                        {%- endunless -%}
                        {%- unless mb.cta_1_subheading == blank -%}
                        <p>{{ mb.cta_1_subheading }}</p>
                        {%- endunless -%}
                      </div>
                    </a>
                    {%- unless mb.cta_1_btn == blank or mb.cta_text_position == 'overlay' -%}
                        <a href="{{ mb.cta_1_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_1_btn }}</a>
                    {%- endunless -%}
                  </div>
                </div>
                {%- endif -%}
                {%- if mb.show_cta2 == true -%}
                <div class="col-12 col-md">
                  <div class="monster-cta-wrap text-center">
                    <a href="{{ mb.cta_2_link }}" class="monster-cta {{ overlay }}">
                      <div style="background-image:url({{ mb.cta_2_img | img_url:'master' }}); height: {{ mb.cta_height | append: 'px' }}" class="img-container"></div>
                      <div class="cta-text-content">
                        {%- unless mb.cta_2_heading == blank -%}
                          <h3>{{ mb.cta_2_heading }}</h3>
                        {%- endunless -%}
                        {%- unless mb.cta_2_subheading == blank -%}
                        <p>{{ mb.cta_2_subheading }}</p>
                        {%- endunless -%}
                      </div>
                    </a>
                    {%- unless mb.cta_2_btn == blank or mb.cta_text_position == 'overlay' -%}
                        <a href="{{ mb.cta_2_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_2_btn }}</a>
                    {%- endunless -%}
                  </div>
                </div>
                {%- endif -%}
                {%- if mb.show_cta3 == true -%}
                <div class="col-12 col-md">
                  <div class="monster-cta-wrap text-center">
                    <a href="{{ mb.cta_3_link }}" class="monster-cta {{ overlay }}">
                      <div style="background-image:url({{ mb.cta_3_img | img_url:'master' }}); height: {{ mb.cta_height | append: 'px' }}" class="img-container"></div>
                      <div class="cta-text-content">
                        {%- unless mb.cta_3_heading == blank -%}
                          <h3>{{ mb.cta_3_heading }}</h3>
                        {%- endunless -%}
                        {%- unless mb.cta_3_subheading == blank -%}
                        <p>{{ mb.cta_3_subheading }}</p>
                        {%- endunless -%}
                      </div>
                    </a>
                    {%- unless mb.cta_3_btn == blank or mb.cta_text_position == 'overlay' -%}
                        <a href="{{ mb.cta_3_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_3_btn }}</a>
                    {%- endunless -%}
                  </div>
                </div>
                {%- endif -%}
                {%- if mb.show_cta4 == true -%}
                <div class="col-12 col-md">
                  <div class="monster-cta-wrap text-center">
                    <a href="{{ mb.cta_4_link }}" class="monster-cta {{ overlay }}">
                      <div style="background-image:url({{ mb.cta_4_img | img_url:'master' }}); height: {{ mb.cta_height | append: 'px' }}" class="img-container"></div>
                      <div class="cta-text-content">
                        {%- unless mb.cta_4_heading == blank -%}
                          <h3>{{ mb.cta_4_heading }}</h3>
                        {%- endunless -%}
                        {%- unless mb.cta_4_subheading == blank -%}
                        <p>{{ mb.cta_4_subheading }}</p>
                        {%- endunless -%}
                      </div>
                    </a>
                    {%- unless mb.cta_4_btn == blank or mb.cta_text_position == 'overlay' -%}
                        <a href="{{ mb.cta_4_link }}" class="cta-btn {{mb.buttonstyle}}">{{ mb.cta_4_btn }}</a>
                    {%- endunless -%}
                  </div>
                </div>
                {%- endif -%}
            {%- endcase -%}
      </div>
    </div>
  </div>
</div>
